{% extends 'base.html' %}

{% block title %}
1 сторінка
{% endblock title %}

{% block head %}Сайт відгуків{% endblock %}

{% block body %}
  <div class="at-postheader">
    <h3>Головна сторінка</h3>
  </div>

  <div class="hover-image-scale" >
    <img src="{{ url_for('static', filename='images/moyko.jpg') }}" alt="" class="left-img"/>
  </div>

 <h3 style="text-align: justify;">
  Курсова робота на тему №12 — створення застосунку з використанням Flask.<br><br>

  Виконав курсант ННІ-4, 203 навчальної групи, рядовий поліції Мойко.<br><br>

  У рамках курсової роботи було поставлено завдання — розробити вебзастосунок для незалежного оцінювання умов навчання та несення служби курсантами.<br><br>

  У результаті було створено сайт, який надає можливість курсантам ННІ-4 залишати відгуки щодо навчально-матеріальної бази інституту. Сервіс дозволяє оцінити умови проживання в гуртожитках, навчальні корпуси, а також їдальню. Користувачі можуть надати як загальну оцінку, так і написати розгорнутий коментар.<br><br>

  Цей проєкт сприяє зворотному зв'язку між курсантами та адміністрацією, спрямований на покращення умов навчання та проживання.
</h3>

{% endblock %}