{% extends 'base.html' %}

{% block title %}
2 сторінка
{% endblock title %}

{% block head %}Відгуки про гуртожиток{% endblock %}

{% block body %}
  <div class=at-postheader <h3><h3>Наші рідні хороми</h3></h3></div>

    <div class="hover-image-scale" >
    <img src="{{ url_for('static', filename='images/obshaga.jpg') }}" alt="" class="left-img"/>
  </div>


 <h3 style="text-align: justify;"> «Хлопаків» очолює Біллі Бутчер, що зневажає всіх людей
     з надздібностями, а лідером «Сімки» є егоїстичний і неврівноважений Патріот.
     Серіал також розповідає про нових членів кожної команди: Г'юї Кемпбелл приєднується
     до «Хлопаків» після того, як його подруга гине при зіткненні на високій швидкості з
     одним з учасників «Сімки», а Енні Дженьюері на прізвисько Зіронька, новобранець «Сімки»,
     стикається з неприємною правдою про супергероїв, якими вона захоплювалася з дитинства. С
     еред інших членів Сімки — спустошена Королева Мейв, наркозалежний Експрес, небезпечний
     Глибина, таємничий Чорнуар та біла супрематистка Громовиця.«Хлопаків» очолює Біллі Бутчер, що зневажає всіх людей
     з надздібностями, а лідером «Сімки» є егоїстичний і неврівноважений Патріот.
     Серіал також розповідає про нових членів кожної команди: Г'юї Кемпбелл приєднується
     до «Хлопаків» після того, як його подруга гине при зіткненні на високій швидкості з
     одним з учасників «Сімки», а Енні Дженьюері на прізвисько Зіронька, новобранець «Сімки»,
     стикається з неприємною правдою про супергероїв, якими вона захоплювалася з дитинства. С
     еред інших членів Сімки — спустошена Королева Мейв, наркозалежний Експрес, небезпечний
     Глибина, таємничий Чорнуар та біла супрематистка Громовиця.«Хлопаків» очолює Біллі Бутчер, що зневажає всіх людей
     з надздібностями, а лідером «Сімки» є егоїстичний і неврівноважений Патріот.
     Серіал також розповідає про нових членів кожної команди: Г'юї Кемпбелл приєднується
     до «Хлопаків» після того, як його подруга гине при зіткненні на високій швидкості з
     одним з учасників «Сімки», а Енні Дженьюері на прізвисько Зіронька, новобранець «Сімки»,
     стикається з неприємною правдою про супергероїв, якими вона захоплювалася з дитинства. С
     еред інших членів Сімки — спустошена Королева Мейв, наркозалежний Експрес, небезпечний
     Глибина, таємничий Чорнуар та біла супрематистка Громовиця.«Хлопаків» очолює Біллі Бутчер, що зневажає всіх людей
     з надздібностями, а лідером «Сімки» є егоїстичний і неврівноважений Патріот.
     Серіал також розповідає про нових членів кожної команди: Г'юї Кемпбелл приєднується
     до «Хлопаків» після того, як його подруга гине при зіткненні на високій швидкості з
     одним з учасників «Сімки», а Енні Дженьюері на прізвисько Зіронька, новобранець «Сімки»,
     стикається з неприємною правдою про супергероїв, якими вона захоплювалася з дитинства. С
     еред інших членів Сімки — спустошена Королева Мейв, наркозалежний Експрес, небезпечний
     Глибина, таємничий Чорнуар та біла супрематистка Громовиця.<h3>
{% endblock %}
{% block content %}

<h2 style="margin-top: 50px;">Відгуки</h2>
<div>
<ul>
    {% for comment in comments %}
        <li style="color: #6d6868; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #ccc;">
            <strong>{{ comment.topic }}</strong>: <br>{{ comment.content }}

            <div style="margin-top: 10px;">
                <form action="{{ url_for('edit_comment', id=comment.id) }}" method="get" style="display:inline;">
                    <button type="submit">Редагувати</button>
                </form>

                <form action="{{ url_for('delete_comment', id=comment.id) }}" method="post" style="display:inline;" onsubmit="return confirm('Ви впевнені, що хочете видалити цей коментар?');">
                    <button type="submit">Видалити</button>
                </form>
            </div>
        </li>
    {% else %}
        <li style="color: #6d6868;">Немає коментарів.</li>
    {% endfor %}
</ul>

    <h4>Додати коментар:</h4>
    <form action="{{ url_for('st2') }}" method="POST">
        <input type="text" name="topic" placeholder="Ваше ім'я" required><br>
        <textarea name="content" placeholder="Зміст коментаря..." required></textarea><br>
        <button type="submit">Додати коментар</button>
    </form>
{% endblock %}
</div>